/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #d2b7e5;
}
